doctype html
head
  meta(charset="utf-8")
  title Spider Man
  meta(name="description", content="")
  meta(name="author", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="assets/css/bootstrap.min.css")
  link(rel="stylesheet" href="assets/css/style.css")
  link(rel="icon" href="assets/images/favicon.png")
body
    .building-background
    .game-controls
      button.btn.btn-default.game-button Play Game
      button.btn.btn-default.game-button Help
      button.btn.btn-default.game-button Quit

    .dropping-spiderman
      .web
      .baby-spiderman

    script(src="assets/js/jquery-2.1.3.min.js")
    script(src="assets/js/functions.js")
    script(src='assets/js/bootstrap.min.js')
